:root {
  --background-gradient: linear-gradient(160deg, rgba(252, 253, 253, 0.785) 100%, rgba(62, 193, 255, 0.7) 20%);
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: var(--background-gradient);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(15, 76, 117, 0.1);
  color: #bbe1fa;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  list-style: none;
}

/* Main content styles */
.main {
  color: #bbe1fa;
  padding: 2rem;
}

.manufacturer-spotlight {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.manufacturer-spotlight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.manufacturer-spotlight-text {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: #bbe1fa;
  font-size: 3rem;
}

.second-card {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.second-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.second-card:hover img {
  transform: scale(1.5);
}

.news-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.news-card {
  background-image: var(--background-gradient);
  padding: 1rem;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.news-card-image {
  height: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.news-card-overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}


/* Footer styles */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #0f4c75;
  color: #bbe1fa;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.footer-column h3 {
  margin-bottom: 0.5rem;
}

.footer-link {
  text-decoration: none;
  color: #bbe1fa;
  margin-bottom: 0.5rem;
}